*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
div{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #a7a5a5;
    border-radius: 10px;
}
h1{
    margin: 55px auto;
    letter-spacing: 10px;
    font-size: 60px;
}
form{
    margin: 0 10px 10px;
    font-size: 55px;
}

form input{
    border-radius: 15px;
    padding: 10px;
    font-size: 15px;
}

button[type = 'submit']{
    width: 150px;
    letter-spacing: 2px;
    border-radius: 15px;
    padding: 10px;
    font-size: 15px;
}

.button-delete{ 
    width: 250px;
    letter-spacing: 2px;
    border-radius: 15px;
    padding: 10px;
    font-size: 15px;
}

button:hover{
    background-color: black;
    color: #f1f1f1;
}

ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
}

input[type ="checkbox" i]{    
    margin: 25px;
}

li p{
    text-align: center;
    font-size: 25px;
    margin: 15px;
}

button{
    width: 60%;
    letter-spacing: 2px;
    border-radius: 15px;
    padding: 10px;
    font-size: 25px;
    margin: 20px auto;
}